.reviews {
   height: auto;
   width: 100vw;
   font-family: "Raleway", sans-serif;
}
.reviews_top_container {
   background-color: #f5cec6;
   color: #737373;
   padding: 2rem 0;
}
.reviews_top_container h1 {
   font-size: 3rem;
   text-align: center;
   margin: 0 auto 1rem;
}
.reviews_top_container ul {
   width: 100%;
   display: flex;
   flex-flow: column nowrap;
   list-style-type: none;
}
.reviews_top_container li {
   padding: 2rem 2rem;
}
.reviews_top_container li p:first-of-type {
   color: #737373;
   font-size: 4rem;
   line-height: 1.65rem;
}
.reviews_top_container li p:last-of-type {
   color: white;
   font-size: 1.1rem;
   line-height: 1.65rem;
}
.reviews_bottom_container {
   width: 100%;
   height: 25vw;
   display: grid;
   grid-template: auto / 5vw 1fr 25vw 5vw 25vw 1fr 5vw;
}
.reviews_bottom_container h2 {
   background: #f5cec6;
   /* padding: 1rem; */
   border-radius: 50%;
   height: 17.5vw;
   padding: 2rem 0;
   text-align: center;
}
.reviews_bottom_container h2:first-of-type {
   grid-area: 1 / 2 / 1 / 3;
}
.reviews_bottom_container h2:last-of-type {
   grid-area: 1 / 6 / 1 / 7;
}
.reviews_bottom_container h3 {
   position: absolute;
   right: calc(25%);
   background: #f5cec6;
   padding: 1rem;
   font-size: 0.85rem;
   grid-area: 1 / 4 / 1 / 5;
}
.reviews_bottom_container img {
   width: auto;
   object-fit: contain;
   height: auto;
   width: 25vw;
}
.reviews_bottom_container img:first-of-type {
   grid-area: 1 / 3 / 2 / 4;
}
.reviews_bottom_container img:last-of-type {
   grid-area: 1 / 5 / 2 / 6;
}

@media only screen and (min-width: 768px) {
   .reviews_top_container ul {
      width: 80vw;
      margin: 0 10vw;
   }
}
@media only screen and (min-width: 768px) {
   .reviews_top_container ul {
      width: 800px;
      margin: 0 auto;
   }
}
